.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #14a82d inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.display-none {
  display: none;
}

#image-container {
  position: relative;
}